* {
	font-size: 14px;
	font-family: monospace;
}

window#waybar {
	background: #292b2e;
	color: #fdf6e3;
}

#workspaces button {
	padding: 0 5px;
	color: #4d4d4d;
	background: #1a1a1a;
	border-radius: 0;
	border: none;
}

#workspaces button.active {
	color: #FFF;
	font-weight: bold;
	background: #1f80a1;
	border-bottom: 1px #33ccff solid;
}

#pulseaudio,
#battery,
#clock {
	padding-right: 20px;
}

#tray {
	padding-right: 10px;
}